
<div class="ui vertical masthead center aligned segment">

    <div class="ui text container pitch">
        <h4 class="pitch_medium">
            You travel. We drive.
        </h4>
        <h1 class="ui header pitch_big">
            GET THERE.
        </h1>
        <h4 class="pitch_small">
            Your day belongs to you.
        </h4>
    </div>

</div>

<div class="ui container">
    <div class="car_logo_2">
        <img src="https://s3-ap-southeast-2.amazonaws.com/railsproject2018/car_2.png" alt="Car logo">
    </div>
</div>


<div class="ui inverted vertical segment">
    <div class="ui center aligned container home">
        <h4 class="ui inverted header left aligned how_to_title">WANT TO MAXIMIZE YOUR TRAVEL EXPERIENCE?</h4>
        <div class="ui stackable inverted grid">
            <div class="four wide column left aligned card">
                <div class="ui card">
                    <div class="content card">
                        <div class="header card">STEP 1</div>
                        <!--<div class="meta">2 days ago</div>-->
                        <div class="description card">
                            <span>Decide Where</span><br>
                            <span>You Want to Go</span>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="four wide column left aligned">
                <div class="ui card">
                    <div class="content card">
                        <div class="header card">STEP 2</div>
                        <div class="description card">
                            <span>Plan Your</span><br>
                            <span>Travel Itinerary</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="four wide column left aligned">
                <div class="ui card">
                    <div class="content card">
                        <div class="header card">STEP 3</div>
                        <div class="description card">
                            <span>Book Your</span><br>
                            <span>Local Transporter</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="four wide column left aligned">
                <div class="ui card">
                    <div class="content card">
                        <div class="header card">STEP 4</div>
                        <div class="description card">
                            <span>You Travel.</span> <br>
                            <span>We Drive.</span> <br>
                            <span>Signup Now!</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p></p>
    </div>
</div>

