/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "semantic-ui";

.ui.segment{
    padding: 25px;
}

.right.menu {
    border-bottom: 2px solid black;
    justify-content: flex-end;
    padding-bottom: 3px;
}

body {
    min-width: 350px;
}

.column {
    width: 400px;
}

.column.nav {
    padding-bottom: 0 !important;
}

.ui.centered.grid.nav {
    margin-bottom: -70px;
}

.ui.grid.container {
    margin: -20px 0;
}

// Styling login page and user registration page
.ui.input {
    width: 280px;
    margin-bottom: -2px;
}

p.text_left, .field.dropdown_label {
    text-align: left;
}

.ui.message {
    text-align: left;
    a {
        color: rgba(0, 0, 0, 0.87);
    }
}

.ui.stacked.segment.rego {
    width: 100%;
    padding: 40px 40px;
    border: 0.5px solid #222222;
}

.ui.stacked.segment:after {
    display: none;
}

.login_header {
    border: none;
}

.ui.fluid.dropdown {
    margin-top: 10px;
}

// End of styling for user login and registration

.item.logo img {
    padding-top: 20px;
}

.ui.segment {
    border: 1px solid #222222;
}

.item.main {
    padding: 10px 5px !important;
}

.car_logo {
    margin: 100px 50px -81px;
    display: flex;
    justify-content: flex-end;
}

.ui.footer.segment {
    margin: 80px 0 0;
    padding: 80px 0;
  }