// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Styling pitch text container

.pitch_small {
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 0;
}

.pitch_medium {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
}

.ui.header.pitch_big {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
}

.ui.container.pitch {
    margin-bottom: 100px;
}

.ui.masthead.segment {
    border: none !important;
}

.car_logo_2 {
    margin-left: 80px;
    margin-bottom: -5px;
}

// Styling how_to section for homepage

.ui.card {
    border-radius: 30px !important;
    box-shadow: none !important;
    min-height: 210px !important;
    min-width: 210px !important;
}

.ui.container.home {
    padding: 30px 30px 100px 30px;
}

h4.how_to_title {
    margin-bottom: 30px !important;
}

.header.card {
    font-size: 30px !important;
    font-weight: 1000 !important;
}

.description.card {
    font-size: 24px !important;
    line-height: 30px;
}

.content.card {
    padding: 26px !important;
}
