// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// section.form {
//     display: flex;
// }

.redundant_file_field {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#profile_profile_image, #profile_passport_image, #profile_drivers_license_image {
    border: none;
}