// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// section.form {
//     display: flex;
// }

.redundant_file_field {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#profile_profile_image, #profile_passport_image, #profile_drivers_license_image {
    border: none;
}

.ui.dividing.header.profile {
	text-align: left;
	border-bottom: 1.5px solid #222222;
	.profile_title {
		padding-bottom: 8px;
		.location {
			text-indent: 15px;
		}
	}
}

.container.about, .container.language {
	height: 120px;
}

.language_spoken, .about_me {
		text-indent: 40px;
}

.ui.card.profile {
	width: 100% !important;
	border: 0.5px solid #22222234 !important;
	padding: 10px !important;
	box-shadow: none !important;
}

p.review {
	text-indent: 15px;
}