
<div class="car_logo">
    <img src="https://s3-ap-southeast-2.amazonaws.com/railsproject2018/car_5.png" alt="Car logo">
</div>

<div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
        <div class="ui stackable inverted grid">
            <div class="three wide column">
                <h4 class="ui inverted header">INFORMATION</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">About Us</a>
                    <a href="#" class="item">Terms and Conditions</a>
                    <a href="#" class="item">Privacy Policy</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">SOCIAL MEDIA</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Facebook</a>
                    <a href="#" class="item">Twitter</a>
                    <a href="#" class="item">Instagram</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">HELP</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Contact Us</a>
                    <a href="#" class="item">FAQ</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">Footer Header</h4>
                <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
            </div>
        </div>
        <p></p>
    </div>
</div>
